#![enable(implicit_some)]
Prefab (
  entities: [
    (
      data: (
        instruction: Cap((is_win: true)),
        name: Instruction,
        sprite: 9,
        transparent: true,
      ),
    ),
  ]
)
