#![enable(implicit_some)]
Prefab (
  entities: [
    (
      data: (
        instruction: Cap((is_you: true)),
        name: Instruction,
        sprite: 5,
        transparent: true,
      ),
    ),
  ]
)
