#![enable(implicit_some)]
Prefab (
  entities: [
    (
    ),
    (
      parent: 0,
      data: (
        position: (x: 0, y: 0),
        entity: "prefabs/bobo.ron",
      )
    ),
    (
      parent: 0,
      data: (
        position: (x: 4, y: 5),
        entity: "prefabs/wall.ron",
      )
    ),
    (
      parent: 0,
      data: (
        position: (x: 4, y: 6),
        entity: "prefabs/wall.ron",
      )
    ),
    (
      parent: 0,
      data: (
        position: (x: 2, y: 3),
        entity: "prefabs/instructions/bobo.ron",
      )
    ),
    (
      parent: 0,
      data: (
        position: (x: 3, y: 3),
        entity: "prefabs/instructions/is.ron",
      )
    ),
    (
      parent: 0,
      data: (
        position: (x: 4, y: 3),
        entity: "prefabs/instructions/you.ron",
      )
    ),
    (
      parent: 0,
      data: (
        position: (x: 3, y: 2),
        entity: "prefabs/instructions/wall.ron",
      )
    ),
    (
      parent: 0,
      data: (
        position: (x: 3, y: 4),
        entity: "prefabs/instructions/stop.ron",
      )
    ),
    (
      parent: 0,
      data: (
        position: (x: 7, y: 5),
        entity: "prefabs/instructions/push.ron",
      )
    ),
    (
      parent: 0,
      data: (
        position: (x: 8, y: 7),
        entity: "prefabs/instructions/win.ron",
      )
    ),
    (
      parent: 0,
      data: (
        position: (x: 6, y: 7),
        entity: "prefabs/instructions/flag.ron",
      )
    ),
    (
      parent: 0,
      data: (
        position: (x: 1, y: 8),
        entity: "prefabs/flag.ron",
      )
    ),
    (
      parent: 0,
      data: (
        position: (x: 7, y: 7),
        entity: "prefabs/instructions/is.ron",
      )
    ),
  ]
)
